.videoContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 1rem;
  margin-left: 24rem;
  margin-top: 0.4rem;
  padding:0.5rem
}

.videoContainer:hover {
  transition: 0.2s;
  box-shadow: 0.18px 0.1rem 1.25rem 0.1rem rgb(17, 24, 39, 0.5);
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: #fff;
}

.videoText {
    width: 15rem;
    padding: 0.2rem
}

.videoTitle{
    font-weight: bold;
}

.optionMenuContainer {
  padding : 0.2rem 0rem;
  text-align: center;
  font-size: 1.2rem;
  cursor: pointer;
  height: fit-content;
}

.image {
  display: flex;
  padding-right:0.2rem;
  max-width: 100%;
}
