.categoriesContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
    padding: 0.6rem 1rem;
    position: relative;
    left: 17rem;
  }
  
  .categoryItem {
    text-align: center;
    min-width: fit-content;
    margin-right: 0.5rem;
    padding: 0.5rem 0.9rem;
    border-radius: 10rem;
    background-color: var(--primary-color);
  }
  
